/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE RESET */

/* REGOLE GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: black;
}
/* FINE REGOLE GENERALI */

/* HEADER */

.container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header li {
    display: inline-block;
    margin-left: 30px;
}

nav li {
    list-style-type: none;
}

/* LOGO E LOGO-MENU, MENU SINISTRA */
.logo img {
    width: 100px;
    vertical-align: bottom;
}

.logo a {
    text-transform: uppercase;
}

.active {
    color: black;
}
/* FINE LOGO E LOGO-MENU */

/* MENU CENTRALE DESTRA */
.menu-wrapper {
    margin-top: 8px;
}