/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FINE RESET */

/* REGOLE GENERALI */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #a0a6ad;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    color: black;
}
/* FINE REGOLE GENERALI */

/* HEADER */

.container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header li {
    display: inline-block;
    margin-left: 30px;
}

nav li {
    list-style-type: none;
}

.logo {
    margin-top: 3px;
}

/* LOGO E LOGO-MENU, MENU SINISTRA */
.logo img {
    width: 100px;
    vertical-align: bottom;
}

.logo a {
    text-transform: uppercase;
}

.active {
    color: black;
}
/* FINE LOGO E LOGO-MENU */

/* MENU CENTRALE DESTRA */

.target {
    background-color: #eb008d;
    border-radius: 20px;
    padding: 10px 20px;
}

.target a {
    color: white;
}

.target:hover {
    background-color: white;
    color: #eb008d;
    border: 1px solid #eb008d;
}

.target:hover a {
    color: #eb008d;
}

.menu-wrapper .with-dropdown {
    position: relative;
}

.menu-wrapper .dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: lightgray; */
    border-radius: 3px;
    width: 150px; 
    height: 200px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
    top: 100%; 
    left: -55%; 
}

.menu-wrapper .dropdown.open {
    display: flex;
}

/* .menu-wrapper .dropdown li {
   padding: 10px 0;
} */